.container {
  height: 12.5rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.infoContainer {
  text-align: center;
}

.infoUserName {
  color: var(--color-sidebar-header-user-info-name);
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin: 0.625rem 0 0 0;
}

.infoUserDescription {
  font-size: 0.813rem;
  color: var(--color-sidebar-header-user-info-desc);
}
